/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Clase personalizada para scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #ffffff;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #000000;
      border-radius: 10px;
      border: 2px solid #f1f1f1;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
